
/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    /* You may need to adjust styles for individual items */
    .nav_logo, .nav_address, .nav_search, .nav_sing-in, .nav_return, .nav_cart {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Add a media query for even smaller screens */
@media (max-width: 480px) {
    .nav_search {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Shop section styles */
.shop_section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

/* Adjust box styles for smaller screens */
.box {
    height: 360px;
    width: 48%; /* Two boxes per row on smaller screens */
    background-color: white;
    padding: 20px 0px 15px;
    margin: 5px;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .box {
        width: 100%; /* One box per row on smaller screens */
    }
}
